ldap3
openai
python-dotenv
streamlit
streamlit-option-menu
streamlit-cookies-manager-hotpatched
streamlit_pdf_viewer
streamlit_dimensions
PyYAML
langchain
langchain_openai
langchain_community
pdf2image
pymupdf