ldap3
openai
python-dotenv
langchain
langchain-openai
langchain-community
streamlit
streamlit-option-menu
streamlit-cookies-manager-hotpatched
streamlit-dimensions
streamlit-pdf-viewer
streamlit-pills
PyYAML
PyMuPDF
pypdf
pdf2image
chromadb
pytesseract
