ldap3
openai
python-dotenv
streamlit
streamlit-option-menu
streamlit-cookies-manager-hotpatched
streamlit_pdf_viewer
streamlit_dimensions
streamlit_pills
extra-streamlit-components
PyYAML
langchain
langchain_openai
langchain_community
chromadb
pdf2image
pymupdf
pypdf
pydub
yt_dlp
bs4
lxml